<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338535868240-gb4oj9c9impnrdfsedt8h9fhf8jp5ur2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338535868240-gb4oj9c9impnrdfsedt8h9fhf8jp5ur2</string>
	<key>API_KEY</key>
	<string>AIzaSyA94OHn8HhbVGR783rPhw7EXkoCJewwde8</string>
	<key>GCM_SENDER_ID</key>
	<string>338535868240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>demoelc</string>
	<key>STORAGE_BUCKET</key>
	<string>demoelc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338535868240:ios:43baeefbfbfc925b286e55</string>
</dict>
</plist>